# How to use group by in data frame

## Suppose we have a data frame as below

In [19]:
# Import library
import pandas as pd
import random

# Suppress warning in python
import warnings
warnings.filterwarnings("ignore")

# Create data frame
df = pd.DataFrame()

# Create column name 
df['Name'] = ['John', 'Tri', 'Mary', 'Tom', 'Anne', 'Han', 'Jerry', 'Mark', 'Jesses', 'Vandana']
df['Math'] = [random.randint(0, 10) for i in range(10)]
df['Physics'] = [random.randint(0, 10) for i in range(10)]
df['Chemistry'] = [random.randint(0, 10) for i in range(10)]
df['Literature'] = [random.randint(0, 10) for i in range(10)]
df['Gender'] = [random.choice(['M', 'F']) for i in range(10)]
df['Country'] = [random.choice(['A', 'B', 'C']) for i in range(10)]
df

      Name  Math  Physics  Chemistry  Literature Gender Country
0     John     7        3          6           6      M       B
1      Tri     4        7         10           7      M       C
2     Mary     9        8          3           1      F       B
3      Tom     6        5          6           4      M       A
4     Anne     3        9          1           2      M       A
5      Han     6        2          1           3      F       C
6    Jerry     9        3          0           0      F       B
7     Mark     9        0          0           7      F       A
8   Jesses     0        1          7           9      F       B
9  Vandana     8        4          1           1      F       C

## Here want to find out the maximum in math score of group F and M

In [20]:
#Grouping
#Groupby needs to be paired with operations
df.groupby('Gender')['Math'].max()

Gender
F    9
M    7
Name: Math, dtype: int64

## The average in math score of group F and M for each country

In [21]:
df.groupby(['Country', 'Gender'])['Math'].mean()

Country  Gender
A        F         9.0
         M         4.5
B        F         6.0
         M         7.0
C        F         7.0
         M         4.0
Name: Math, dtype: float64