In [1]:
import pandas as pd
data  = pd.read_csv("hfda_ch13_raw_data.csv", sep="#")

In [2]:
data.head(5)

,PersonID,FirstName,LastName,ZIP,Phone,CallID,Time
0,127,^Alexia,Rasmuss(ID 127)en,11422,718-534-2403,4252,01/01/08 12:32
1,98,^Brenden,Rasmuss(ID 98)en,10015,646-812-7298,4253,01/02/08 13:17
2,94,^Beau,Ware(ID 94),10013,646-391-9926,4254,01/02/08 14:54
3,127,^Alexia,Ra(ID 127)smussen,11422,718-534-2403,4255,01/03/08 15:32
4,156,^Jacoby,Co(ID 156)ok,10045,917-808-6186,4256,01/03/08 15:52

In [7]:
fn = data['FirstName'].values
for r in range(len(fn)):
    data['Firstname'].values[r] = fn[r][1:]

KeyError: 'Firstname'

In [4]:
data.head(5)

,PersonID,FirstName,LastName,ZIP,Phone,CallID,Time
0,127,^Alexia,Rasmuss(ID 127)en,11422,718-534-2403,4252,01/01/08 12:32
1,98,^Brenden,Rasmuss(ID 98)en,10015,646-812-7298,4253,01/02/08 13:17
2,94,^Beau,Ware(ID 94),10013,646-391-9926,4254,01/02/08 14:54
3,127,^Alexia,Ra(ID 127)smussen,11422,718-534-2403,4255,01/03/08 15:32
4,156,^Jacoby,Co(ID 156)ok,10045,917-808-6186,4256,01/03/08 15:52

In [5]:
for r in data:
    print(r)

PersonID
FirstName
LastName
ZIP
Phone
CallID
Time